[submodule "src/noise/FastNoise2"]
	path = src/noise/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "src/fonts/hoardOfBitfonts"]
	path = src/fonts/hoardOfBitfonts
	url = https://github.com/0xBAMA/hoard-of-bitfonts.git
[submodule "src/tracy"]
	path = src/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "src/ModelLoading/assimp"]
	path = src/ModelLoading/assimp
	url = https://github.com/assimp/assimp.git
